.nav-body {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nav-bar-content{
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

h1 {
    width: fit-content;
    color: green;
}

.nav-bar-buttons {
    width: fit-content;
}