.nav-bar-content{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: darkkhaki;
}

h1 {
    width: fit-content;
    color: green;
}

.nav-bar-buttons {
    width: fit-content;
}